<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>riot-police-standing-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 42}</string>
			<key>spriteSourceSize</key>
			<string>{32, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{36, 103}, {67, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>

		<key>riot-police-up-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 42}</string>
			<key>spriteSourceSize</key>
			<string>{32, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 7}, {31, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>riot-police-up-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 42}</string>
			<key>spriteSourceSize</key>
			<string>{32, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{36, 7}, {67, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>riot-police-up-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 42}</string>
			<key>spriteSourceSize</key>
			<string>{32, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{73, 7}, {104, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>

		<key>riot-police-right-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 42}</string>
			<key>spriteSourceSize</key>
			<string>{32, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 55}, {31, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>riot-police-right-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 42}</string>
			<key>spriteSourceSize</key>
			<string>{32, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{36, 55}, {67, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>riot-police-right-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 42}</string>
			<key>spriteSourceSize</key>
			<string>{32, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{73, 55}, {104, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>

		<key>riot-police-down-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 42}</string>
			<key>spriteSourceSize</key>
			<string>{32, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 103}, {31, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>riot-police-down-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 42}</string>
			<key>spriteSourceSize</key>
			<string>{32, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{36, 103}, {67, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>riot-police-down-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 42}</string>
			<key>spriteSourceSize</key>
			<string>{32, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{73, 103}, {104, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>

		<key>riot-police-left-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 42}</string>
			<key>spriteSourceSize</key>
			<string>{32, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 151}, {31, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>riot-police-left-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 42}</string>
			<key>spriteSourceSize</key>
			<string>{32, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{36, 151}, {67, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>riot-police-left-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{32, 42}</string>
			<key>spriteSourceSize</key>
			<string>{32, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{73, 151}, {104, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>

	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{105, 210}</string>
		<key>name</key>
		<string>riot-police.png</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>1x</string>
			<key>textureFileName</key>
			<string>riot-police</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>riot-police</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
